<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>adminServlet</display-name>
    <servlet-name>adminServlet</servlet-name>
    <servlet-class>servlets.adminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminServlet</servlet-name>
    <url-pattern>/adminServlet</url-pattern>
  </servlet-mapping>
  <display-name>ASM_Java</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>servlets.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>servlets.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logoffServlet</display-name>
    <servlet-name>logoffServlet</servlet-name>
    <servlet-class>servlets.logoffServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoffServlet</servlet-name>
    <url-pattern>/logoffServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>URLExtractor</display-name>
    <servlet-name>URLExtractor</servlet-name>
    <servlet-class>utils.URLExtractor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>URLExtractor</servlet-name>
    <url-pattern>/URLExtractor</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>AuthFilter</display-name>
    <filter-name>AuthFilter</filter-name>
    <filter-class>filter.AuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>/AuthFilter</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>editProfile</display-name>
    <servlet-name>editProfile</servlet-name>
    <servlet-class>servlets.editProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editProfile</servlet-name>
    <url-pattern>/editProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>videoServlet</display-name>
    <servlet-name>videoServlet</servlet-name>
    <servlet-class>servlets.videoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>videoServlet</servlet-name>
    <url-pattern>/videoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>videoManagementServlet</display-name>
    <servlet-name>videoManagementServlet</servlet-name>
    <servlet-class>servlets.videoManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>videoManagementServlet</servlet-name>
    <url-pattern>/videoManagementServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editVideo</display-name>
    <servlet-name>editVideo</servlet-name>
    <servlet-class>servlets.editVideo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editVideo</servlet-name>
    <url-pattern>/editVideo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userManagamentServlet</display-name>
    <servlet-name>userManagamentServlet</servlet-name>
    <servlet-class>servlets.userManagamentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userManagamentServlet</servlet-name>
    <url-pattern>/userManagamentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>likeServlet</display-name>
    <servlet-name>likeServlet</servlet-name>
    <servlet-class>servlets.likeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>likeServlet</servlet-name>
    <url-pattern>/likeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>unlikeServlet</display-name>
    <servlet-name>unlikeServlet</servlet-name>
    <servlet-class>servlets.unlikeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>unlikeServlet</servlet-name>
    <url-pattern>/unlikeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registerServlet</display-name>
    <servlet-name>registerServlet</servlet-name>
    <servlet-class>servlets.registerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerServlet</servlet-name>
    <url-pattern>/registerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePasswordServlet</display-name>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <servlet-class>servlets.ChangePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <url-pattern>/ChangePasswordServlet</url-pattern>
  </servlet-mapping>
</web-app>